# Chezmoi configuration file
# This file contains user prompts and machine-specific settings
# https://www.chezmoi.io/reference/configuration-file/

[data]
  # User preferences - use env vars in CI/non-interactive, prompt interactively
  {{- if eq (env "CHEZMOI_DEFAULT_SHELL") "" }}
  default_shell = "{{ promptStringOnce "default_shell" "Choose default shell (fish/zsh/bash)" "fish" }}"
  {{- else }}
  default_shell = "{{ env "CHEZMOI_DEFAULT_SHELL" }}"
  {{- end }}

  {{- if eq (env "CHEZMOI_INSTALL_TOOLS") "" }}
  install_tools = {{ promptBoolOnce "install_tools" "Install default brew/Fish tooling? (starship, zoxide, eza, bat, fzf, direnv, atuin, fd, ripgrep, git, gh, jq, poppler, qpdf, tesseract, ocrmypdf, pandoc, delta, procs, btm, dust, gping + fish plugins)" true }}
  {{- else }}
  install_tools = {{ env "CHEZMOI_INSTALL_TOOLS" }}
  {{- end }}

  {{- if eq (env "CHEZMOI_WORK_MACHINE") "" }}
  work_machine = {{ promptBoolOnce "work_machine" "Is this a work machine?" false }}
  {{- else }}
  work_machine = {{ env "CHEZMOI_WORK_MACHINE" }}
  {{- end }}
  
  # Machine information
  os = "{{ .chezmoi.os }}"
  arch = "{{ .chezmoi.arch }}"
  hostname = "{{ .chezmoi.hostname }}"
  
  # OS detection helpers
  is_mac = {{ eq .chezmoi.os "darwin" }}
  is_linux = {{ eq .chezmoi.os "linux" }}
  is_windows = {{ eq .chezmoi.os "windows" }}
  
  # Architecture detection
  is_arm64 = {{ eq .chezmoi.arch "arm64" }}
  is_amd64 = {{ eq .chezmoi.arch "amd64" }}

[diff]
  command = "delta"
  args = ["--side-by-side", "--line-numbers"]

[merge]
  command = "vimdiff"

[edit]
  command = "code"
  args = ["--wait"]

[cd]
  command = "code"

[git]
  autoCommit = false
  autoPush = false
