[user]
	name = {{ if (and (hasKey . "git") (hasKey .git "user_name")) }}{{ .git.user_name | quote }}{{ else }}{{ .chezmoi.username | quote }}{{ end }}
	email = {{ if (and (hasKey . "git") (hasKey .git "user_email")) }}{{ .git.user_email | quote }}{{ else }}{{ (printf "%s@example.com" .chezmoi.username) | quote }}{{ end }}

[core]
	editor = code --wait
	autocrlf = input
	pager = delta

[init]
	defaultBranch = main

[push]
	default = current
	autoSetupRemote = true

[pull]
	rebase = false

[fetch]
	prune = true

[diff]
	tool = vscode
	colorMoved = default

[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE

[merge]
	tool = vscode
	conflictstyle = diff3

[mergetool "vscode"]
	cmd = code --wait $MERGED

[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	lg = log --oneline --graph --decorate
	last = log -1 HEAD
	unstage = reset HEAD --
	discard = checkout --
	undo = reset --soft HEAD~1
	amend = commit --amend --no-edit

[color]
	ui = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[log]
	date = short

[help]
	autocorrect = 1
